app/src/main/assets/sherpa-onnx-streaming-paraformer-bilingual-zh-en/decoder.int8.onnx filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/sherpa-onnx-streaming-paraformer-bilingual-zh-en/encoder.int8.onnx filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/sherpa-onnx-streaming-paraformer-bilingual-zh-en/tokens.txt filter=lfs diff=lfs merge=lfs -text
